<form [ngFormModel]="form" (ngSubmit)="signup()">
    <div class="form-group">
        <label for="nombreusuario">Nombre de Usuario</label>
        <input type="text" 
            id="nombreusuario" 
            class="form-control"
            ngControl="username"
            #nombreusuario="ngForm">
        <div 
            *ngIf="nombreusuario.touched && !nombreusuario.valid"
            class="alert alert-danger">
            El nombre de usuario es requerido.
        </div>
    </div>
    <div class="form-group">
        <label for="contrasena">Contraseña</label>
        <input type="password" 
            id="contrasena" 
            class="form-control"
            ngControl="password"
            #contrasena="ngForm">
        <div 
            *ngIf="contrasena.touched && !contrasena.valid"
            class="alert alert-danger">
            La contraseña es requerida.
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Ingresar</button>
</form>