<h2>Agregar Usuario</h2>
<div class="col-md-6 col-lg-6 well">
    <form action="">
        <fieldset>
            <legend>Usuario</legend>
            <div class="form-group">
                <label for="new-user-name">Nombre</label>
                <input type="text" id="new-user-name" class="form-control">
            </div>
            <div class="form-group">
                <label for="new-user-email">Correo Electronico</label>
                <input type="text" id="new-user-email" class="form-control">
            </div>
            <div class="form-group">
                <label for="new-user-phone">Telefono</label>
                <input type="text" id="new-user-phone" class="form-control">
            </div>
        </fieldset>
            <fieldset>
            <legend>Direccion</legend>
            <div class="form-group">
                <label for="new-user-street">Direccion</label>
                <input type="text" id="new-user-street" class="form-control">
            </div>
            <div class="form-group">
                <label for="new-user-suite">Suite</label>
                <input type="text" id="new-user-suite" class="form-control">
            </div>
            <div class="form-group">
                <label for="new-user-city">Ciudad</label>
                <input type="text" id="new-user-city" class="form-control">
            </div>
            <div class="form-group">
                <label for="new-user-zipcode">Codigo Postal</label>
                <input type="text" id="new-user-zipcode" class="form-control">
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>