 <h1>Posts</h1>

<spinner [visible] ="postLoading"></spinner>
<div class="row">
    <div class="col-sm-6">
        <select #u class="form-control"  (change)="reloadPosts(u.value)">
            <option value="">Seleccionar usuario</option>
            <option  *ngFor="#user of users" value="{{user.id}}">{{user.name}}</option>
        </select>
        <div class="list-group">
            <button *ngFor="#post of posts" class="list-group-item"
             [class.active]="post == selectedPost" (click)="setPost(post)">{{post.title}}</button>
        </div>
    </div>
    <div class="col-sm-6">
        <master-detail *ngIf="isClicked" 
                        [title]="selectedPost.title" 
                        [body]="selectedPost.body"
                        [loading]="commentsLoading"
                        [comments]="currentComments">
        </master-detail>
    </div>
</div>
