<form [ngFormModel]="form" (ngSubmit)="signup()">
    <div class="form-group">
        <label for="nombreusuario">Nombre de Usuario</label>
        <input type="text" 
            id="nombreusuario" 
            class="form-control"
            ngControl="username"
            #nombreusuario="ngForm">
    
    
    <div *ngIf="nombreusuario.control.pending" >Verificando validez del nombre de usuario...</div>
    <div *ngIf="nombreusuario.touched && nombreusuario.errors">
          <div 
           *ngIf="nombreusuario.errors.invalidLogin"
            class="alert alert-danger">
             Nombre de usuario o contraseña incorrectos.
          </div>
          <div 
            *ngIf="nombreusuario.errors.required || nombreusuario.errors.shouldNotBeEmpty"
            class="alert alert-danger">
            El nombre de usuario es requerido.
        </div>
        <div 
            *ngIf="nombreusuario.errors.cannotContainSpace"
            class="alert alert-danger">
            El nombre de usuario no puede tener espacios.
        </div>
        <div 
            *ngIf="nombreusuario.errors.shouldBeUnique"
            class="alert alert-danger">
            El nombre de usuario ya existe.
        </div>
    </div>
 

        
    </div>
    <div class="form-group">
        <label for="contrasena">Contraseña</label>
        <input type="password" 
            id="contrasena" 
            class="form-control"
            ngControl="password"
            #contrasena="ngForm">
        <div 
            *ngIf="contrasena.touched && !contrasena.valid"
            class="alert alert-danger">
            La contraseña es requerida.
        </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Ingresar</button>
</form>