<form [ngFormModel]="form" (ngSubmit)="changePassword()">
    <div class="form-group">
        <label for="currentpass" class="control-label">Contraseña Actual</label>
        <input type="password" 
            id="currentpass" 
            class="form-control"
            ngControl="currentpass"
            #currentpass="ngForm">
 

        
        <div *ngIf="currentpass.touched && currentpass.errors">
            <div 
                *ngIf="currentpass.errors.wrongPassword"
                    class="alert alert-danger">
                    La contraseña es incorrecta.
            </div>  
            <div 
                *ngIf="currentpass.errors.required"
                class="alert alert-danger">
                La contraseña es requerida.
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <label for="newpass" class="control-label">Nueva Contraseña</label>
        <input type="password" 
            id="newpass" 
            class="form-control"
            ngControl="newpass"
            #newpass="ngForm">
   
        <div *ngIf="newpass.touched && newpass.errors">
            <div 
                *ngIf="newpass.errors.required"
                class="alert alert-danger">
                La nueva contraseña es requerida.
            </div>
            <div 
                *ngIf="newpass.errors.minlength"
                class="alert alert-danger">
                La nueva contraseña debe tener como minimo {{newpass.errors.minlength.requiredLength}} caracteres.
            </div>

        </div>
    </div>

    <div class="form-group">
        <label for="confirmpass" class="control-label">Confirmar Contraseña</label>
        <input type="password" 
            id="confirmpass" 
            class="form-control"
            ngControl="confirmpass"
            #confirmpass="ngForm">
        
        <div *ngIf="confirmpass.touched && confirmpass.errors ">                    
           
            <div 
                *ngIf="confirmpass.errors.required"
                class="alert alert-danger">
                Confirme la nueva contraseña.
            </div>
        </div>
        <div *ngIf="form.errors && confirmpass.value.length>=5">
            <div 
                *ngIf="form.errors.shouldBeEqual"
                    class="alert alert-danger">
                    Las contraseñas no coinciden.
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Ingresar</button>
</form>